# Virtual environment
rag.env/
venv/

# Python cache
__pycache__/
*.pyc

# Environment files
.env

# Uploaded documents
storage/documents/
storage/ocr_documents/
storage/*.pdf
*.pdf.env

# used for migrations
alembic
